body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #4419b9;
}
header {
    background-color: #325c64;
    color: white;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 40px;
}
nav ul li a {
    color: rgba(17, 213, 119, 0.421);
    text-decoration: none;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
}
footer {
    background-color: #325c64;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
